<!doctype html>
<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
     <div class="col-sm-9">{{ content }}</div>

    <!-- Footer -->
    {% include footer.liquid %}
  </body>
</html>
